*{
    margin: 0;
    padding: 0;
}
:root{
    --purple:#684FF8;
    --gray20: #3E3B52;
    --gray10:#7D7D7D;
    --white10:#F5F5F5;
}

body{
    background: white;
    font-family: 'Urbanist', sans-serif;
    font-style: normal;    
}

.wrapper{
    margin-left: 10%;
    margin-right: 10%;
}

.upper-body{
    block-size: 88px;
    box-sizing: border-box;
    background: #6100FF;
    margin-inline-start: -10px;
    margin-inline-end: -20px;
    margin-block-start: -10px;
    background-size:100%; 
    color: #FFF;
    text-align: right;
    font-size: 37px;
    font-style: normal;
    font-weight: 900;
    padding: 20px 10%;

}

h1,h2,h4{
    color: var(--purple);
}

h1{
    margin-block-start: 55px;
    font-size: 40px;
    font-weight: 700;
    line-height: 36px;
}

h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
}

h3{
    color: var(--gray20);
    font-size: 24px;
    line-height: 30px; 
}

h4{
    font-size: 20px;
    font-weight: 700;
    line-height: 36px; 
}

input, textarea{
    width: 100%; 
    box-sizing: border-box;
    max-width: 1030px;
    border-radius: 46px;
    background: var(--white10);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    font-family: 'Montserrat' sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    padding-top: 17px;
    padding-left: 35px;
    padding-right: 30px;
    position: relative;
    
}

.title input{
    padding-top: 11px;
}

textarea:invalid{
    border: 1px solid red;
}

input:invalid{
    border: 1px solid red;
}

form p{
    color: var(--gray10);
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    width: 100%; 
    box-sizing: border-box;
    margin-inline-start: 45%;
}

.button{
    border:  none;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 15px;
    background: #6100FF;
    color: #ffff;
    width: 200px;
    padding: 12px;
    margin-inline-start: 25%;
}

.button:hover{
    background: #4700BA;
}

.button:focus {
    background: #4700BA;
}

#camino-title{
    display: block;
    margin-block-start: 61px;
    margin-block-end: 64px;
    padding: 6px 24px 6px 44px;
}

#camino-body{
    display:block;
}

#editar{
    display:inline-block;
    margin-block-start: 50px ;
    margin-inline-start: 0;
}

#continuar{
    display: inline;
    margin-block-start: 50px ;
    margin-inline-start: 0;
}

@media screen and (min-width: 1319px){
    #editar{
        margin-block-start: 100px;
    }
}  

.paginacion{
    margin:20px 0;
}

.paginacion ul{
    list-style: none;
    text-align: center;
    padding-left: 13px;

}

.paginacion ul li{
    display: inline-block;
    margin-right: 10px;
}

.paginacion ul li a{
    display: inline-block;
    padding: 15px 15px;
    text-decoration: none;
    border-radius: 15px;
    background: #6100FF;
    color: #ffff;
    width: 60px;
    padding: 12px;
}

.paginacion ul li a:hover{
    background: #4700BA;
}

.paginacion ul li .active{
    background: #4700BA;
    font-weight: bold;
}

.voice{
    background: none;
    border: none;
    display: inline;
    margin-left: 90%;   
}

.header-content{
    border: 3px solid red;
    display: block;
}
